@charset "UTF-8";
/*основной цвет #212121 */
/*дополнитеный цвет #757575 */
/*акцентный цвет #2196F3 */
/* цвет логотипа #000000*/
/* основной фон background: #F5F5F5 */
/* фон героя футер #2F303A*/
/* фон команды #F5F4FA*/
/* осноной светлый цвет #FFFFFF*/
/* цвет футер mail tel rgba(255, 255, 255, 0.6) */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

/* Universal classes */
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  color: #2196f3;
}

.list {
  list-style: none;
}

.btn {
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  margin-top: 30px;
  padding: 10px 32px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .btn {
    padding: 10px 24px;
  }
}
.btn:hover, .btn:focus {
  background-color: #188ce8;
}

.title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.pretitle {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .pretitle {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.subtitle {
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.menu-open {
  display: inline-flex;
  margin-left: auto;
  padding-right: 8px;
  border: 0;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /*& .container {
      display: block;
      width: 100%;
      padding: 0px;
  }*/
  /*text-align: center;
  padding: 20px;
  font-size: 14px;*/
}

.menu-content {
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  display: block;
  width: 100%;
  height: 796px;
}

.menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  top: 21px;
  right: 25px;
  border: 0;
  background-color: transparent;
  position: absolute;
}
.menu-close:hover, .menu-close:focus {
  color: #2196f3;
}

/*--------navigation-------*/
.mob-navigation {
  /*@include flex-align-justify;
   margin-left: 93px;*/
}

.mob-navigation li {
  margin-bottom: 32px;
}
.mob-navigation li:last-child {
  margin-bottom: 0px;
}

.mob-navigation a {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.mob-navigation .list {
  cursor: pointer;
}

.mob-navigation .mob-navigation .current {
  color: #2196f3;
}

.mob-navigation .mob-navigation__link {
  /*display: block;
  padding-top: 32px;
  padding-bottom: 32px;*/
}

.mob-navigation__link.link.mob-current {
  position: relative;
  color: #2196f3;
}

.mob-current::after {
  content: "";
  /*display: block;
  width: 100%;
  height: 4px;

  bottom: 0;
  position: absolute;*/
  background-color: #2196f3;
  border-radius: 2px;
}

/*----------contacts------*/
.mob-contact {
  margin-top: 302px;
  /*@include flex-align-justify;
  margin-left: auto;*/
}

.mob-contact a {
  color: #2196f3;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.mob-contact li {
  /*margin-right: 50px;*/
  /*&:last-child {
      margin-right: 0;
  }*/
}

.mob-contact.link {
  /*display: block;
  padding-top: 32px;
  padding-bottom: 32px;*/
  color: #2196f3;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mob-contact__link {
  /* @include flex-align-justify;*/
  /*width: 100%;
  height: 100%;*/
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-contact__link:hover, .mob-contact__link:focus {
  color: #2196f3;
}

.mob-contact__icons {
  fill: currentColor;
  /*margin-right: 10px;*/
}

.mob-mail {
  margin-top: 32px;
  /*@include flex-align-justify;
  margin-left: auto;*/
}

.mob-mail a {
  color: #757575;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.mob-mail li {
  /*margin-right: 50px;*/
  /*&:last-child {
      margin-right: 0;
  }*/
}

.mob-mail.link {
  /*display: block;
  padding-top: 32px;
  padding-bottom: 32px;*/
  color: #2196f3;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mob-mail__link {
  /* @include flex-align-justify;*/
  /*width: 100%;
  height: 100%;*/
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-mail__link:hover, .mob-mail__link:focus {
  color: #2196f3;
}

.mob-mail__icons {
  fill: currentColor;
  /*margin-right: 10px;*/
}

/*-------lINK------*/
.mob-social {
  margin-top: 64px;
  display: flex;
}

.mob-social a {
  color: #2196f3;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  transform: rotate(90deg);
}

.mob-social__item:last-child {
  padding-right: 0px;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  color: #000000;
  text-decoration: none;
}
@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}
.logo-color {
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo-color {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .logo-color {
    margin-bottom: 28px;
    display: block;
  }
}
.logo-style {
  color: #2196f3;
}

/* -----------HEADER----------- */
.header {
  border: 1px solid #ececec;
  /*position: relative;*/
  /*position: absolute;*/
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .main-nav {
    height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 93px;
  }
}

.navigation li {
  margin-right: 50px;
}
.navigation li:last-child {
  margin-right: 0;
}

.navigation a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.navigation .list {
  cursor: pointer;
}

.navigation .navigation__link .current {
  color: #2196f3;
}

.navigation .navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__link.link.current {
  position: relative;
  color: #2196f3;
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  position: absolute;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }
}

.contact a {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact li {
  margin-right: 50px;
}
.contact li:last-child {
  margin-right: 0;
}

.contact.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

.contact__icons {
  fill: currentColor;
  margin-right: 10px;
}

/* -----------HERO----------- */
.hero {
  background: #2f303a;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-mobile1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-mobile2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-tablet1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-tablet2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-desktop1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header/header-desktop2x.jpg);
  }
}

.hero__title {
  text-align: center;
  text-transform: uppercase;
  color: #f5f5f5;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.61;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

/* -----------FEATURES----------- */
.feature {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}

.feature__list {
  margin-right: -30px;
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.feature__list .feature__item {
  margin-right: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .feature__list .feature__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .feature__list .feature__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature__list .feature__item {
    width: calc((100% - 120px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .feature__list .feature__item {
    margin-right: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1119px) {
  .feature__list .feature__item:nth-child(2n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list .feature__item:last-child {
    margin-right: 0px;
  }
}
.feature__image {
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .feature__image {
    width: 354px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__image {
    width: 270px;
  }
}

/* -----------IMAGES----------- */
@media screen and (max-width: 1119px) {
  .image {
    display: none;
  }
}

.image__list {
  display: flex;
  flex-wrap: wrap;
  background: #f5f5f5;
}

.image__list li {
  margin-right: 30px;
}
.image__list li:nth-child(3n) {
  margin-right: 0;
}

.image__thumb {
  position: relative;
}

.image__desc {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}

/* -----------TEAMS----------- */
.people-info {
  background: #f5f4fa;
}

.people-info__list {
  margin-right: -30px;
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .people-info__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.people-info__list .people-info__items {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 450px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .people-info__list .people-info__items {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .people-info__list .people-info__items {
    width: calc((100% - 120px) / 4);
    margin-bottom: 0px;
  }
}

.people-info__items {
  background: #ffffff;
}

@media screen and (max-width: 767px) {
  .people-info__list li:nth-child(n+4) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1119px) {
  .people-info__list li:nth-child(n+3) {
    margin-bottom: 0px;
  }
}
.people-info__thumb {
  text-align: center;
  margin-top: 30px;
}
.people-info__thumb p {
  padding-bottom: 16px;
}

/*----------- team social---------*/
.people-social__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.people-social__items {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
}
.people-social__items:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .people-social__list li:nth-child(n+4) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1119px) {
  .people-social__list li:nth-child(n+3) {
    margin-bottom: 30px;
  }
}
.people-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border-radius: 50%;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.people-social__link:hover, .people-social__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.people-social__icons {
  fill: currentColor;
}

/* -----------CLIENTS----------- */
.clients__list {
  margin-right: -30px;
  margin-bottom: -30px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.clients__items {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 170px;
  height: 92px;
}
@media screen and (max-width: 767px) {
  .clients__items {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__items {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__items:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients__icons {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* -----------FOOTER----------- */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .page-footer__container {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__container {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .adress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .adress {
    display: inline-block;
    margin-right: 70px;
  }
}

.adress__list {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .adress__list .adress__item {
    text-align: center;
  }
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__sity {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #f5f5f5;
  background: #2f303a;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__text {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__list :hover,
.adress__list :focus {
  color: #2196f3;
}

/*-----------SOCIAL FOOTER--------*/
@media screen and (max-width: 767px) {
  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .social {
    display: inline-block;
  }
}

.social__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social__title {
    display: flex;
    justify-content: center;
  }
}

.social__list {
  display: flex;
}

.social__items {
  width: 44px;
  height: 44px;
}
.social__items:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.social__icons {
  fill: #ffffff;
}

/*------------SUBSCRIBE FOOTER-----*/
.subscribe {
  display: inline-block;
  margin-left: auto;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    width: 570px;
    height: 86px;
    top: 0;
    left: 0;
  }
}

.subscribe__form {
  background-color: #2f303a;
}

.subscribe__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1119px) {
  .subscribe__label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__label {
    display: flex;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1119px) {
  .subscribe__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__wrapper {
    display: inline-flex;
  }
}

.subscribe__input {
  font-family: "Roboto";
  font-style: normal;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  display: inline-block;
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    margin-bottom: 20px;
  }
}

.subscribe__btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  position: relative;
  margin-left: 0px;
  margin-top: 20px;
  padding-right: 62px;
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .subscribe__btn {
    margin-left: 12px;
    margin-top: 0px;
  }
}

.subscribe__icons {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: #ffffff;
}

.subscribe__icons svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-button {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-button__btn {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.filter-button__click {
  margin-right: 8px;
}
.filter-button__click:last-child {
  margin-right: 0;
}
.filter-button__click :hover, .filter-button__click :focus {
  color: #ffffff;
  background: #2196f3;
}

/* -----------portfolio__---------- */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.portfolio__info {
  border: 1px solid #eeeeee;
  border-top: none;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio__item {
  flex-basis: calc(33.3333333333% - 60px);
  margin-right: 30px;
  margin-bottom: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio__item:hover,
.portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__item:hover .portfolio__desc,
.portfolio__item:focus .portfolio__desc {
  transform: translateY(0%);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__desc {
  position: absolute;
  top: 0;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
}

.portfolio__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

/*-----------BACKDROP------------*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 521px;
  }
}

.modal__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 2px;
}

.modal__input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  margin-top: 10px;
  display: block;
}

.modal__input-wrapper {
  position: relative;
}

.modal__input-comment::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input-comment:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input-comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
}

.modal__input:hover,
.modal__input:focus {
  border-color: #2196f3;
}
.modal__input:hover + svg,
.modal__input:focus + svg {
  fill: #2196f3;
}

.modal__input-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
}
.modal__input-comment:hover, .modal__input-comment:focus {
  border-color: #2196f3;
}

.modal__input-icons {
  position: absolute;
  fill: #212121;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.coordination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coordination__label {
  display: flex;
  align-items: center;
  height: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.coordination__check {
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.coordination__check svg {
  fill: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.coordination__input:checked + label > span {
  border: none;
  background-color: #2196f3;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.coordination__input:checked + label > span svg {
  fill: #ffffff;
}

.coordination__contract {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-left: 7px;
}

.button-send {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-send:focus, .button-send:hover {
  background-color: #188ce8;
}

.button-icons {
  fill: #000000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-icons:hover, .button-icons:focus {
  fill: #2196f3;
}

.modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}/*# sourceMappingURL=main.css.map */