.adress {
    @media screen and (max-width:767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    }

    @media screen and (min-width:1200px) {
        display: inline-block;
        margin-right: 70px;
    }

}

.adress__list {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.adress__list .adress__item {
    @media screen and (max-width:1199px) {
        text-align: center;
    }
    
}
.adress__item:not(:last-child) {
    margin-bottom: 9px;
}

.adress__sity {
    display: block;

@include font-family;

    @include font ( $lh:1.71);

    text-decoration: none;
    
    color: map-get($colors, 'main-background');
    background: map-get($colors, 'background-hiro-footer');

    @include transition-color;
}

.adress__text {
    display: block;

@include font-family;
    @include font ( $lh:1.71);

    text-decoration: none;
    
    color: map-get($colors, 'footer-mail-tel');
    background: map-get($colors, 'background-hiro-footer');

    @include transition-color;
}

.adress__list :hover,
.adress__list :focus {
    color: map-get($colors, 'accent');
}