.contact {
    @media screen and (max-width:767px) {
        display: none;
        }
    @media screen and (min-width:768px) and (max-width:1199px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 96px;
    }
    @include desktop {
        @include flex-align-justify;
        margin-left: auto;
    }

}
.contact a {
    color: map-get($colors, 'secondary');
    @include mobile {
        @include font ($fs: 12, $fw: 500, $lh: 1.17, $ls: 0.02em)
    }
    @include tablet {
        @include font ($fs: 12, $fw: 500, $lh: 1.17, $ls: 0.02em)
        }
    @include desktop {
        @include font ($fw: 500, $ls: 0.02em);
    }
    

    text-decoration: none;
}
.contact li {
    @media screen and (min-width:768px) and (max-width:1199px) {
        margin-bottom: 10px;
    }
    @include desktop {
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    } 
    }

}
.contact li:last-child {
    margin-bottom: 0px;
}
.contact.link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact__link {
    @include flex-align-justify;

    width: 100%;
    height: 100%;
    color: map-get($colors, 'secondary');

    @include transition-color;

    &:hover,
    &:focus {
        color: map-get($colors, 'accent');
    }
}
.contact__icons {
    fill: currentColor;
    margin-right: 8px;
}