/* -----------FEATURES----------- */
.feature {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 0px;
    }
    
        
    
    
}

.feature__list {
    margin-right: -30px;
    margin-bottom: -30px;
   @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    } 

}

.feature__list .feature__item {
    
    @media screen and (max-width:767px) {
        width: 450px;
        
    //     margin-left: auto;
    //     margin-right: auto;
    }
    
    margin-right: 30px;
    margin-bottom: 30px;
    // @media screen and (max-width:767px){

    // }
    
    
    @media screen and (min-width: 768px) {
        // width: 354px;
        width: calc((100% - 60px) / 2);
        // margin-right: 30px;
        
    }

    @media screen and (min-width: 1200px) {
        // width: 270px;
        width: calc((100% - 120px) / 4);
        // margin-right: 30px;
        // margin-bottom: 0px;
    }

}
@media screen and (max-width:767px) {
    .feature__list .feature__item {
        margin-right: 0px;
        }
}
@media screen and (min-width:768px) and (max-width:1119px) {
    .feature__list .feature__item:nth-child(2n) {
        margin-right: 0px;
    }
}
@media screen and (min-width:1200px) {
    .feature__list .feature__item:last-child {
        margin-right: 0px;
    }
}
.feature__image {
    width: 450px;
    height: 120px;
    
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        width: 354px;
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
    }

@include flex-align-justify;

    background-color: map-get($colors, 'background-comand');

    
}
