
.menu-open {
    @include flex-align-justify;
    margin-left: auto;
    margin-right: auto;
    top: 21px;
    right: 25px;
    border: 0;
    background-color: transparent;
    position: absolute;
    @include tablet {
        display: none;
    }
}   

.mobile-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow-y: auto;
    background-color: map-get($colors, 'main-white');
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.menu-content {
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    display: block;
    
    width: 100%;
    height: 796px;
    
    
}

.menu-close {
    @include flex-align-justify;
    margin-left: auto;
    margin-right: auto;
    top: 21px;
    right: 25px;
    border: 0;
    background-color: transparent;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &:hover,
    &:focus {
        color: map-get($colors, 'accent');
    }
}
/*--------navigation-------*/


.mob-navigation li {
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0px;
    }
}


.mob-navigation a {
    @include font ($fs:40, $fw:500, $lh:1.18, $ls:0.02em);

    color: map-get($colors, 'main');
    text-decoration: none;
}

.mob-navigation .list {
    cursor: pointer;
}

.mob-navigation .mob-navigation .current {
    color: map-get($colors, 'accent');
}


.mob-navigation__link.link.mob-current {
    position: relative;
    color: map-get($colors, 'accent');
}

.mob-current::after {
    content: "";
    background-color: map-get($colors, 'accent');
    border-radius: 2px;
}

/*----------contacts------*/

.mob-contact {
    margin-top: 302px;

}

.mob-contact a {
    color: map-get($colors, 'accent');
    @include font ($fs:34, $fw:500, $lh:1.18, $ls:0.02em);

    text-decoration: none;
    
}


.mob-contact.link {

    color: map-get($colors, 'accent');
    @include font ($fs:34, $fw:500, $lh:1.18, $ls:0.02em);
}

.mob-contact__link {
    color: map-get($colors, 'secondary');

    @include transition-color;

    &:hover,
    &:focus {
        color: map-get($colors, 'accent');
    }
}

.mob-contact__icons {
    fill: currentColor;
    
}

.mob-mail {
    margin-top: 32px;

}

.mob-mail a {
    color: map-get($colors, 'secondary');
    @include font ($fs:24, $fw:500, $lh:1.17, $ls:0.02em);

    text-decoration: none;
    
}

.mob-mail.link {
    color: map-get($colors, 'accent');
    @include font ($fs:34, $fw:500, $lh:1.18, $ls:0.02em);
}

.mob-mail__link {

    color: map-get($colors, 'secondary');

    @include transition-color;

    &:hover,
    &:focus {
        color: map-get($colors, 'accent');
    }
}

.mob-mail__icons {
    fill: currentColor;
    
}

/*-------lINK------*/

.mob-social {
    margin-top: 64px;
    display: flex;
}

    
.mob-social__link {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-social .mob-social__items a {
    color: map-get($colors, 'accent');
    @include font ($fs: 18, $fw: 500, $lh: 1.22, $ls: 0.02em);
    
    padding-right: 10px;
    padding-left: 10px;

    transform: rotate(90deg);
}
.mob-social a:last-child {
    padding-right: 0px;
    border-right:none;
}
.mob-social a:first-child {
    padding-left: 0px;}
    
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-hidden .menu-content {
    transform: translate(-50%, -50%) scale(0);
}
