
.menu-open {
    /*display: inline-flex;*/
    margin-left: auto;
    padding: 0;
    border: 0;
    background-color: transparent;
    /*@media screen and (min-width:768px) {
        display: none;
    }*/
}   
/*.menu-open .icon-menu {
    display: none;
}
.menu-open.is-open .icon-menu {
    display: block;
}
.menu-open.is-open .icon-close {
    display: none;
}*/

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 796px;
    background-color: #ffffff;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-left: 40px;
    & .container {
        display: block;
        width: 100%;
        padding: 0px;
    }
    /*text-align: center;
    padding: 20px;
    font-size: 14px;*/

   /* @media screen and (max-width:767px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        &.is-open {
        display: block;
        }
    }
    @media screen and (min-width:768px) {
        display: flex;
    }*/
}


/*--------navigation-------*/

.mob-navigation {
   /*@include flex-align-justify;
    margin-left: 93px;*/
}

.mob-navigation li {
    /*margin-right: 50px;*/

    /*&:last-child {
        margin-right: 0;
    }*/
}



.mob-navigation a {
    @include font ($fw: 500, $ls: 0.02em);

    color: map-get($colors, 'main');
    text-decoration: none;
}

.mob-navigation .list {
    cursor: pointer;
}

.mob-navigation .mob-navigation .current {
    color: map-get($colors, 'accent');
}

.mob-navigation .mob-navigation__link {
    /*display: block;
    padding-top: 32px;
    padding-bottom: 32px;*/
}

.mob-navigation__link.link.mob-current {
    /*position: relative;
    color: map-get($colors, 'accent');*/
}

.mob-current::after {
    content: "";
    /*display: block;
    width: 100%;
    height: 4px;

    bottom: 0;
    position: absolute;*/
    background-color: map-get($colors, 'accent');
    border-radius: 2px;
}

/*----------contacts------*/

.mob-contact {
    /*@include flex-align-justify;
    margin-left: auto;*/
}

.mob-contact a {
    color: map-get($colors, 'secondary');
    @include font ($fw: 500, $ls: 0.02em);

    text-decoration: none;
}

.mob-contact li {
    /*margin-right: 50px;*/

    /*&:last-child {
        margin-right: 0;
    }*/
}

.mob-contact.link {
    /*display: block;
    padding-top: 32px;
    padding-bottom: 32px;*/
}

.mob-contact__link {
   /* @include flex-align-justify;*/

    /*width: 100%;
    height: 100%;*/
    color: map-get($colors, 'secondary');

    @include transition-color;

    &:hover,
    &:focus {
        color: map-get($colors, 'accent');
    }
}

.mob-contact__icons {
    fill: currentColor;
    /*margin-right: 10px;*/
}