
.menu-open {
    display: inline-flex;
    margin-left: auto;
    padding-right: 8px;
    border: 0;
    background-color: transparent;
    @media screen and (min-width:768px) {
        display: none;
    }
}   

.mobile-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: map-get($colors, 'main-white');
    // top: 0px;
    // left: 0px;
    // right: 0px;
    // padding-left: 40px;
    /*& .container {
        display: block;
        width: 100%;
        padding: 0px;
    }*/
    /*text-align: center;
    padding: 20px;
    font-size: 14px;*/
}
.menu-content {
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    display: block;
    // flex-direction: column;
    width: 100%;
    height: 796px;
    // justify-content: space-between;
}

.menu-close {
    @include flex-align-justify;
    margin-left: auto;
    margin-right: auto;
    top: 21px;
    right: 25px;
    border: 0;
    background-color: transparent;
    position: absolute;
    &:hover,
    &:focus {
        color: map-get($colors, 'accent');
    }
}
/*--------navigation-------*/

.mob-navigation {
   /*@include flex-align-justify;
    margin-left: 93px;*/
}

.mob-navigation li {
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0px;
    }
}



.mob-navigation a {
    @include font ($fs:40, $fw:500, $lh:1.18, $ls:0.02em);

    color: map-get($colors, 'main');
    text-decoration: none;
}

.mob-navigation .list {
    cursor: pointer;
}

.mob-navigation .mob-navigation .current {
    color: map-get($colors, 'accent');
}

.mob-navigation .mob-navigation__link {
    /*display: block;
    padding-top: 32px;
    padding-bottom: 32px;*/
}

.mob-navigation__link.link.mob-current {
    position: relative;
    color: map-get($colors, 'accent');
}

.mob-current::after {
    content: "";
    /*display: block;
    width: 100%;
    height: 4px;

    bottom: 0;
    position: absolute;*/
    background-color: map-get($colors, 'accent');
    border-radius: 2px;
}

/*----------contacts------*/

.mob-contact {
    margin-top: 302px;
    /*@include flex-align-justify;
    margin-left: auto;*/
}

.mob-contact a {
    color: map-get($colors, 'accent');
    @include font ($fs:34, $fw:500, $lh:1.18, $ls:0.02em);

    text-decoration: none;
    
}
// .mob-contacts a {
//     color: map-get($colors, 'secondary');
// }
.mob-contact li {
    /*margin-right: 50px;*/

    /*&:last-child {
        margin-right: 0;
    }*/
}

.mob-contact.link {
    /*display: block;
    padding-top: 32px;
    padding-bottom: 32px;*/
    color: map-get($colors, 'accent');
    @include font ($fs:34, $fw:500, $lh:1.18, $ls:0.02em);
}

.mob-contact__link {
   /* @include flex-align-justify;*/

    /*width: 100%;
    height: 100%;*/
    color: map-get($colors, 'secondary');

    @include transition-color;

    &:hover,
    &:focus {
        color: map-get($colors, 'accent');
    }
}

.mob-contact__icons {
    fill: currentColor;
    /*margin-right: 10px;*/
}

.mob-mail {
    margin-top: 32px;
    /*@include flex-align-justify;
    margin-left: auto;*/
}

.mob-mail a {
    color: map-get($colors, 'secondary');
    @include font ($fs:24, $fw:500, $lh:1.17, $ls:0.02em);

    text-decoration: none;
    
}
// .mob-contacts a {
//     color: map-get($colors, 'secondary');
// }
.mob-mail li {
    /*margin-right: 50px;*/

    /*&:last-child {
        margin-right: 0;
    }*/
}

.mob-mail.link {
    /*display: block;
    padding-top: 32px;
    padding-bottom: 32px;*/
    color: map-get($colors, 'accent');
    @include font ($fs:34, $fw:500, $lh:1.18, $ls:0.02em);
}

.mob-mail__link {
   /* @include flex-align-justify;*/

    /*width: 100%;
    height: 100%;*/
    color: map-get($colors, 'secondary');

    @include transition-color;

    &:hover,
    &:focus {
        color: map-get($colors, 'accent');
    }
}

.mob-mail__icons {
    fill: currentColor;
    /*margin-right: 10px;*/
}