    /* -----------HEADER----------- */

.header {
    border: 1px solid #ececec;

}

.main-nav {
    
@include flex-align-justify;
    @media screen and (max-width:767px) {
        height: 60px;
        justify-content: flex-start;
    }
        @include tablet {
        height: 80px;
    }
}
