/* -----------FOOTER----------- */
.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background: map-get($colors, 'background-hiro-footer');
@include font-family;
    
    @include font ($lh:1.71);

}

.page-footer__container {
    display: flex;
    align-items: baseline;
}
