    /* -----------HEADER----------- */

.header {
    border: 1px solid #ececec;
    /*position: relative;*/
    /*position: absolute;*/
}

.main-nav {
    
@include flex-align-justify;
    @media screen and (max-width:767px) {
        height: 60px;
        justify-content: flex-start;
    }
        @media screen and (min-width:768px) {
        height: 80px;
    }
}
