/* -----------TEAMS----------- */
.people-info {

    background: map-get($colors, 'background-comand');
}

.people-info__list {
        display: flex;
        flex-wrap: wrap;
    @media screen and (min-width:768px) {

       } 
}

.people-info__list .people-info__items {
   
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
    @media screen and (min-width:768px){
        margin-right: 30px;
        }
}

.people-info__items {
    background: map-get($colors, 'main-white');
    
}
.people-info__items img {
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width:767px){

    }
}


.people-info__list li:nth-child(4n) {
    margin-right: 0;
}

.people-info__thumb {
    text-align: center;
    margin-top: 30px;

    & p {
            padding-bottom: 16px;
        }
}



